[submodule "service/store"]
	path = service/store
	url = git@github.com:omidmm16/subtree-store-backend.git
[submodule "service/frontend"]
	path = service/frontend
	url = git@github.com:omidmm16/subtree-store-frontend.git
